@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&family=PT+Sans:wght@700&family=Playfair+Display:wght@400;500&family=Roboto:wght@300;500&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    background-color: #2f2f2f;
    text-transform: capitalize;
    min-height: 100vh;
    margin: 0;
}

i {
    margin-top: 20%;
    color: #d2b265;
    font-size: 85px;
    transition: all 200ms ease;
    ;
}

i:hover {
    font-size: 90px;
}


.usuarioCamionero {
    background-color: #24262B;
    width: 500px;
    height: 100vh;
    border-radius: 0 0 20px 0;
    text-align: center;
    box-shadow: #000000 3px 4px;
}

.usuarioCamionero i {
    font-size: 180px;
    border: solid 1px #d2b265;
    padding: 35px;
    padding-top: 30px;
    border-radius: 120px;


}

.usuarioCamionero h2 {
    font-size: 60px;
    color: #eae096;
    margin-top: 30px;
}

.opciones {
    display: flex;
    margin-left: 250px;
    margin-top: 70px;
    width: 95vh;
    height: 250px;
}

.opcion {
    justify-content: center;
    text-align: center;
    background-color: #24262B;
    width: 30vh;
    padding: 5px;
    margin: 8px;
    border-radius: 10px;
    border: solid 1px #d2b265;
    box-shadow: #eae096 0px 5px 5px -15px inset, #eae096 0px 10px 30px -17px inset;
}

.opcion h2 {
    color: #eae096;
    margin-top: 30px;
}

/* tabla*/


.tablaInterfazCamionero {
    margin-top: 200px;
    margin-left: 45vh;
    ;

}

table {
    display: none;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

}

table thead tr {
    background-color: #d2b265;
    color: #ffffff;
    text-align: middle;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #000000;
}

table tbody tr:nth-of-type(even) {
    background-color: #ffffff33;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #eae096;
}

/* formulario */

.seleccionarRuta {
    margin-left: 57vh;
}

form {
    display: none;
    background-color: #24262B;
    justify-content: center;
    text-align: center;
    color: #eae096;
    box-shadow: #eae096 0px 5px 5px -15px inset, #eae096 0px 10px 30px -17px inset;
    border-radius: 10px;
    border: solid 1px #d2b265;
    width: 30vh;
    height: 20vh;
    padding: 5px;
    margin: 8px;
}

#pais {
    width: 80px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #eae096;
    border-radius: 10px;
    background-color: #2f2f2f;
    color: #eae096;
    margin-left: 20px;
}

#pais option {
    font-size: 20px;
    background-color: #2f2f2f;
    color: #d2b265;
}


label {
    text-decoration: underline 2px;
    font-size: 60px;
    color: #eae096;
}

.btn {
    justify-content: center;
    margin-top: 60px;
}

button {
    display: none;
    height: fit-content;
    border: 2px solid #d2b265;
    border-radius: 10px;
    background-color: #484847;
    width: 155px;
    font-size: 1.2em;
    color: #eae096;
    transition: 0.5s;
}

#map {
    display: none;
    position: fixed;
    margin-top: 0;
    height: 100%;
    width:  100%;

    margin-right: 100%;
}

#btnAniadir {
    display: none;
}