@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%27');

body {
    min-height: 90vh;
    max-height: 120vh;
    background-color: #2f2f2f;
    justify-content: center;
}

h1 {
    font-family: ' Roboto', sans-serif;
    font-size: 6vh;
    color: #d2b265;
    display: flex;
    justify-content: center;
    text-decoration: underline #FFDF94;
}

h2 {
    text-decoration: underline #FFDF94;
    justify-content: center;
    font-size: 3.2vh;
    color: #d2b265;
    text-align: center;
    font-family: ' Roboto', sans-serif;
    letter-spacing: 2px;
    display: flex;
}

h3 {
    padding: 30px;
    justify-content: center;
    font-size: 3.2vh;
    color: #d2b265;
    text-align: center;
    font-family: ' Roboto', sans-serif;
    letter-spacing: 2px;
    display: flex;
}

p {
    font-size: 2vh;
    color: #eae096;
    text-align: center;
    justify-content: justifys;
}

.home {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px;
    z-index: 1;/* Asegura que .home esté sobre otros elementos */
}

.todo {
    display: flex;
    justify-content: space-between;
    padding-left: 120PX;
    padding-right: 120PX;
}

.mv {
    height: 248;
    width: 700px;
    border: 1px solid #000000;
    box-shadow: 0 0 8px #FFDF94;
}

.contenedorHistoria {
    height: 248;
    width: 700px;
    margin: 0 auto;/* Agrega esta línea para centrar horizontalmente */
    margin-top: 20px; /* Ajusta el margen superior según tu preferencia */
    border: 1px solid #000000;
    box-shadow: 0 0 8px #FFDF94;

}

.historia {
    justify-content: center;
    text-align: justify;
}

.mas {
    justify-content: space-around;
    display: flex;
    height: fit-content;
    padding-top: 20px;
}

.espacio {
    width: fit-content;
    height: fit-content;
}

.espacio p {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease
}

.espacio:hover p {
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease, height 0.3s ease;
}