body{
    background-color: #2f2f2f;
}


table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    
}

table thead tr {
    background-color: #d2b265;
    color: #ffffff;
    text-align: middle;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #000000;
}

table tbody tr:nth-of-type(even) {
    background-color: #ffffff33;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #eae096;
}